<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PropertySystem", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class = "bg-[#edf6fd]">
  <div class = " hidden fixed top-0 left-0 h-[100%] rounded bg-white">
   <div class = "flex flex-col w-[200px] ">
   <div  class = "mt-4 mx-2 w-[150px]"> <img  src = {"/images/mbashia.png"}></div>
   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Dashboard</a></div>
      <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Properties</a></div>

   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Rent</a></div>

   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Messages</a></div>

   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Tenants </a></div>

   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Staff</a></div>

   <div class  = "m-2 p-2 text-gray-500"> <a href = "#"> Requests</a></div>

    </div>
   
      

 </div>
    <%= @inner_content %>
  </body>
</html>
