<div>

this is the div


landlords properties

    <%=for property <- @propertys do %>
      <p style = "display:block ;background-color:red;"><%=property.name%></p>
      <% end %>

       <%=for tenant <- @tenants do %>
      <p style = "display:block ;background-color:red;"><%=tenant.id%></p>
      <% end %>
</div>